body{
    width: 100%;
    min-width: 900px;
    font-family: Arial;
    background-color: black;
    color: white;
}

.wd-left {
    float: left;
    position: relative;
    border-right: solid 1px rgb(47, 51, 54);
    margin-top: 0px;
    height: 718px;
    width: 16px;
    padding-left: 0px;
}
.wd-left2 {
    position: relative;
    top: 718px;
    left: 582;
    border-right: solid 1px rgb(47, 51, 54);
    margin: 0px;
    height: 1048px;
    width: 16px;
    padding-left: 0px;
}

.wd-right {
    float: left;
    border-left: solid 1px rgb(47, 51, 54);
    margin-top: 0px;
    height: 718px;
    width: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

.wd-right2 {
    position: relative;
    bottom: 330px;
    margin-left: 17px;
    float: left;
    border-left: solid 1px rgb(47, 51, 54);
    height: 1048px;
    width: 16px;
}

.wd-center {
    position: relative;
    float: left;
    width: 582px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: solid 1px rgb(47, 51, 54);
}

.wd-center2 {
    float: left;
    position: relative;
    left: 16px;
    bottom: 230px;
    width: 582px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    margin: 0;
}

.wd-top-box {
    position: relative;
    width: 582px;
    border-bottom: solid 1px rgb(47, 51, 54);
}


.wd-points {
    display: inline;
    position: absolute;
    right: 16px;
}

.wd-bookmarks {
    display: inline; 
    padding-left: 16px;
    padding-top: 12px;
    color:white;
    font-size: 20px;
}

.wd-handle1 {
    color: rgb(150, 147, 147);
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wd-user {
    position: relative;
}

.wd-user-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 12px;
}

.wd-user-name {
    position: absolute;
    top: 12px;
    display: inline;
    font-size: 15px;
    color: white;
    margin: 0px;
    padding-left: 12px;
}

.wd-user-at {
    position: absolute;
    top: 12px;
    left: 130px;
    display: inline;
    font-size: 15px;
    color: rgb(150, 147, 147);
    margin: 0px;
    padding-left: 12px;
}

.wd-user-at1 {
    position: absolute;
    top: 12px;
    left: 140px;
    display: inline;
    font-size: 15px;
    color: rgb(150, 147, 147);
    margin: 0px;
    padding-left: 12px;
}

.wd-user-para {
    margin-left: auto;
    padding-right: 12px;
    color: white;
    font-size: 15px;
    width: 506px;
}

.wd-main {
    margin-top: 12px;
}

.wd-img {
    float: top;
    border: solid 1px rgb(150, 147, 147);
    border-radius: 20px 20px 0px 0px;
    margin-left: 64px;
    width: 504px;
    height: 264px;
    display: block;
}

.wd-main-para {
    float: top;
    width: 504px;
    margin-left: 64px;
    border-bottom: solid 1px rgb(150, 147, 147);
    border-right: solid 1px rgb(150, 147, 147);
    border-left: solid 1px rgb(150, 147, 147);
    border-radius:  0px 0px 20px 20px;
}

.wd-main-para-title {
    padding: 12px;
    font-size: 15px;
    color: white;
}

.wd-main-para-main {
    font-size: 15px;
    color: rgb(150, 147, 147);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.wd-icon {
    padding-top: 12px;
    width: 504px;
    margin-left: 64px;
    color: rgb(150, 147, 147);
}

.wd-icon-chat {
    position: relative;
    bottom: 3px;
    float: left;
}

.wd-icon-at {
    position: relative;
    padding-left: 48px;
    bottom: 1px;
    float: left;
}

.wd-icon-heart {
    position: relative;
    bottom: 3px;
    padding-left: 48px;
    float: left;
    color: red !important;
}

.wd-icon-forward {
    position: relative;
    bottom: 3px;
    padding-left: 48px;
    float: left;
}

.wd-icon-chat-n {
    float: left;
    padding-left: 12px;
}

.wd-icon-at-n {
    float: left;
    padding-left: 12px;
}

.wd-icon-heart-n {
    padding-left: 12px;
    float: left;
    color: red !important;
}

.wd-icon-forward-n {
    padding-left: 12px;
    float: left;
}